/* src/styles/App.css */
.App {
  background: #181c22;
  min-height: 100vh;
  color: rgb(15, 149, 202);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* Contenedor para páginas */
.page-container {
  width: 100%;
  margin: 0;
  padding-bottom: 90px; /* espacio para el footer fijo */
  padding-top: 70px;    /* espacio para el navbar fijo */
  min-height: calc(100vh - 130px);
  box-sizing: border-box;
  overflow-x: hidden;
}

html, body, #root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

@media (max-width: 1000px) {
  .page-container {
    padding-left: 0;
    padding-right: 0;
  }
}

/* Evita que el contenido se centre verticalmente como antes */
.App-header {
  background-color: transparent;
  min-height: auto;
  display: block;
  font-size: 1rem;
  color: rgb(40, 179, 204);
}